@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Lora&display=swap');

body {
  margin: 0;
  font-family: 'Lora', serif;
  color: #3B7D3A;
  background-color: #F2C94C; 
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  color: #FF6F61; 
}

.main {
  min-height: 100vh;
  background: url('../images/Things-to-do-in-Tofo.webp')
              no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
